@{
	ViewBag.Title = "Bookings";
}

<div class="card">
	<div class="card-body">

		<div class="table-responsive">
			<table id="data-table" class="table">
				<thead>
					<tr>
						<th>Client Name</th>
						<th>Property Name</th>
						<th>Vendor Name</th>
						<th>Vendor ID</th>
						<th>Location</th>
						<th>Rent/Hour</th>
						<th>Check In Date</th>
						<th>Check Out Date</th>
						<th>Status</th>
						<th>View Details</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Tiger Nixon</td>
						<td>System Hub</td>
						<td>Abraham Lincoln</td>
						<td>61</td>
						<td>Dhaka</td>
						<td>৳800</td>
						<td>2011/04/25</td>
						<td>2011/04/27</td>
						<td>Pending</td>
						<td><a class="" href="#">View</a></td>
					</tr>
					<tr>
						<td>Garrett Winters</td>
						<td>Noor Villa</td>
						<td>Tiger Nixon</td>
						<td>63</td>
						<td>Dhaka</td>
						<td>৳900</td>
						<td>2020/07/25</td>
						<td>2020/09/25</td>
						<td>Pending</td>
						<td><a class="" href="#">View</a></td>
					</tr>
					<tr>
						<td>Ashton Cox</td>
						<td>Coders Lab</td>
						<td>John Smith</td>
						<td>66</td>
						<td>Dhaka</td>
						<td>৳600</td>
						<td>2019/01/12</td>
						<td>2019/01/12</td>
						<td>Pending</td>
						<td><a class="" href="#">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>