@{
	ViewBag.Title = "Booking Confirmations";
}

<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label>Client Name</label>
					<input type="text" class="form-control is-valid" value="John Smith" disabled>
					<i class="form-group__bar"></i>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label>Vendor Name</label>
					<input type="text" class="form-control is-valid" value="Jason Smith" disabled>
					<i class="form-group__bar"></i>
				</div>
			</div>
		</div>

		<br>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label>Rent/Hour</label>
					<input type="text" class="form-control is-valid" value="800">
					<i class="form-group__bar"></i>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label>Vendor Gets</label>
					<input type="text" class="form-control is-valid" value="650">
					<i class="form-group__bar"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label>Note</label>
					<input type="text" class="form-control is-valid" placeholder="Additional Information">
					<i class="form-group__bar"></i>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<button type="button" class="btn btn-outline-success">Confirm Client</button>
			</div>
			<div class="col-sm-6">
				<button type="button" class="btn btn-outline-success">Confirm Vendor</button>
			</div>
		</div>
	</div>
</div>