<header class="content__title">
    <h1>Booking</h1>

    <div class="actions">
        <div class="dropdown actions__item">
            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Refresh</a>
            </div>
        </div>
    </div>

</header>

<div class="card">
    <div class="card-body">

        <Style>
            .table td {
                color: #ccb68ad9;
            }

                .table td a {
                    color: #ccb68ad9;
                }
        </Style>
        <div class="table-responsive">
            <table id="data-table" class="table">
                <thead style="color: #ffaa00">
                <thead>
                    <tr>
                        <th>FromDate</th>
                        <th>ToDate</th>
                        <th>MaximumPerson</th>
                        <th>FromHour</th>
                        <th>ToHour</th>
                        <th>ClientId</th>
                        <th>PropertyId</th>
                        <th>CreatedBy</th>
                        <th>UpdateBy</th>
                        <th>CreatedDate</th>
                        <th>UpdateDate</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>1.30pm</td>
                        <td>5.00pm</td>
                        <td>2</td>
                        <td>3</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default"><a class="btn btn-danger btn-ok">Delete</a></a>
                                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">

                                                        </div>
                                                        <div class="modal-body" style="align-self: center;">
                                                            Are you sure you want to delete this element?
                                                        </div>
                                                        <div class="modal-footer" style="align-self: center;">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                            <a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default"><a class="btn btn-danger btn-ok">Delete</a></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>8/5/2019</td>
                        <td>10/5/2019</td>
                        <td>20</td>
                        <td>12.30pm</td>
                        <td>2.00pm</td>
                        <td>23</td>
                        <td>8</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>8.00am</td>
                        <td>10.00pam</td>
                        <td>21</td>
                        <td>34</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>1.30pm</td>
                        <td>5.00pm</td>
                        <td>20</td>
                        <td>47</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>10.00am</td>
                        <td>12.00pm</td>
                        <td>2</td>
                        <td>3</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>1.30pm</td>
                        <td>5.00pm</td>
                        <td>2</td>
                        <td>3</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>1.30pm</td>
                        <td>5.00pm</td>
                        <td>12</td>
                        <td>3</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>1.30pm</td>
                        <td>5.00pm</td>
                        <td>65</td>
                        <td>20</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>1.30pm</td>
                        <td>5.00pm</td>
                        <td>12</td>
                        <td>24</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>1.30pm</td>
                        <td>5.00pm</td>
                        <td>68</td>
                        <td>40</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>1.30pm</td>
                        <td>5.00pm</td>
                        <td>20</td>
                        <td>35</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>21/5/2019</td>
                        <td>22/5/2019</td>
                        <td>20</td>
                        <td>2.00pm</td>
                        <td>3.30pm</td>
                        <td>5</td>
                        <td>41</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7/5/2019</td>
                        <td>7/5/2019</td>
                        <td>20</td>
                        <td>5.30pm</td>
                        <td>7.00pm</td>
                        <td>2</td>
                        <td>33</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>8/5/2019</td>
                        <td>10/5/2019</td>
                        <td>20</td>
                        <td>12.30pm</td>
                        <td>2.00pm</td>
                        <td>23</td>
                        <td>8</td>
                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>