@{
    ViewBag.Title = "Contact";
}

<header class="content__title">
    <h1>VENDOR DATA TABLES</h1>
</header>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic example</h4>

        <div class="table-responsive">
            <table id="data-table" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Country</th>
                        <th>MobileNo</th>
                        <th>BirthDate</th>
                        <th>Password</th>
                        <!-- <th>VendorPhot</th> -->
                        <th>CreatedBy</th>
                        <th>UpdateBy</th>
                        <th>CreateDate</th>
                        <th>UpdateDate</th>

                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>