<header class="content__title">
    <h1>Gallerys</h1>

    <div class="actions">
        <div class="dropdown actions__item">
            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Refresh</a>
            </div>
        </div>
    </div>

</header>

<div class="card">
    <div class="card-body">
        <header class="content__title">
            <h1>Photo Gallery</h1>

            <div class="actions">


                <div class="dropdown actions__item">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Refresh</a>

                    </div>
                </div>
            </div>
        </header>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">file upload</h4>
                <form class="dropzone dz-clickable" id="dropzone-upload">
                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                </form>
            </div>
        </div>

        <div class="row lightbox photos">

            <a href="/Scripts/demo/img/gallery/7.jpg" class="col-md-2 col-4">
                <div class="lightbox__item photos__item">
                    <img src="/Scripts/demo/img/gallery/thumbs/7.jpg" alt="" />
                </div>
            </a>

            <a href="/Scripts/demo/img/gallery/13.jpg" class="col-md-2 col-4">
                <div class="lightbox__item photos__item">
                    <img src="/Scripts/demo/img/gallery/thumbs/13.jpg" alt="" />
                </div>
            </a>

            <a href="/Scripts/demo/img/gallery/21.jpg" class="col-md-2 col-4">
                <div class="lightbox__item photos__item">
                    <img src="/Scripts/demo/img/gallery/thumbs/21.jpg" alt="" />
                </div>
            </a>

            <a href="/Scripts/demo/img/gallery/19.jpg" class="col-md-2 col-4">
                <div class="lightbox__item photos__item">
                    <img src="/Scripts/demo/img/gallery/thumbs/19.jpg" alt="" />
                </div>
            </a>


        </div>
    </div>
</div>