<div class="content__inner content__inner--sm">
    <header class="content__title">
        <h1>Add new contact</h1>
        <small>Nullam id dolor id nibh ultricies vehicula ut id elit</small>
    </header>

    <div class="card new-contact">
        <div class="new-contact__header">
            <a href="#" class="zmdi zmdi-camera new-contact__upload"></a>

            <img src="demo/img/contacts/user_empty.png" class="new-contact__img" alt="">
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="validation" placeholder="First Name">
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name">
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email">
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" placeholder="Country">
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mobile No.</label>
                        <input type="text" class="form-control" placeholder="Mobile No.">
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Birthday Date</label>
                        <input type="text" class="form-control" placeholder="Birthday Date">
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mobile Phone</label>
                        <input type="text" class="form-control" placeholder="Mobile Phone">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" placeholder="Password">
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <!--
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>CreatedBy</label>
                                                        <input type="text" class="form-control" placeholder="">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>UpdateBy</label>
                                                        <input type="text" class="form-control" placeholder="">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>CreatedDate</label>
                                                        <input type="text" class="form-control" placeholder="">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>UpdateDate</label>
                                                        <input type="text" class="form-control" placeholder="">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                -->
            </div>
            <style>
                .content__inner--sm {
                    max-width: none;
                }
            </style>





            <div class="clearfix"></div>

            <div class="mt-5 text-center">
                <a href="#" class="btn btn-light">Save new contact</a>
                <a href="#" class="btn btn-light">Clear</a>
            </div>
        </div>
    </div>
</div>