<header class="content__title">
    <h1>Propertys</h1>

    <div class="actions">
        <div class="dropdown actions__item">
            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Refresh</a>
            </div>
        </div>
    </div>

</header>

<div class="card">
    <div class="card-body">

        <Style>
            .table td {
                color: #ccb68ad9;
            }

                .table td a {
                    color: #ccb68ad9;
                }
        </Style>
        <div class="table-responsive">
            <table id="data-table" class="table">
                <thead style="color: #ffaa00">
                <thead>
                    <tr>
                        <th>PropertyName</th>
                        <th>PropertyType</th>
                        <th>ShareType</th>
                        <th>MaximumPerson</th>
                        <th>ShortDescription</th>
                        <th>FeatureImage</th>
                        <th>Price</th>
                        <th>RetailPrice</th>
                        <th>PropertyAddressId</th>
                        <th>PropertyServiceId</th>

                        <th>CreatedBy</th>
                        <th>UpdateBy</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Super</td>
                        <td>Business</td>
                        <td>Shared Office</td>
                        <td>20</td>
                        <td>The advertised office space is perfect for a team of 3.</td>
                        <td>Img</td>
                        <td>2000TK</td>
                        <td>1500TK</td>
                        <td>Dhaka Zila, Dhaka Div, Bangladesh, Asia</td>
                        <td>Wifi,AC</td>

                        <td>25/5/2019</td>
                        <td>07/7/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Akdom-Bakdom</td>
                        <td>business</td>
                        <td>Shared Office</td>
                        <td>20</td>
                        <td>The advertised office space is perfect for a team of 3.</td>
                        <td>Img</td>
                        <td>2000TK</td>
                        <td>1500TK</td>
                        <td>Dhaka Zila, Dhaka Div, Bangladesh, Asia</td>
                        <td>Wifi,AC</td>

                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Brisbane</td>
                        <td>business</td>
                        <td>Shared Office</td>
                        <td>20</td>
                        <td>The advertised office space is perfect for a team of 3.</td>
                        <td>Img</td>
                        <td>2000TK</td>
                        <td>1500TK</td>
                        <td>Dhaka Zila, Dhaka Div, Bangladesh, Asia</td>
                        <td>Wifi,AC</td>

                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Canberra</td>
                        <td>business</td>
                        <td>Shared Office</td>
                        <td>20</td>
                        <td>The advertised office space is perfect for a team of 3.</td>
                        <td>Img</td>
                        <td>2000TK</td>
                        <td>1500TK</td>
                        <td>Dhaka Zila, Dhaka Div, Bangladesh, Asia</td>
                        <td>Wifi,AC</td>

                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Northbridge</td>
                        <td>business</td>
                        <td>Shared Office</td>
                        <td>20</td>
                        <td>The advertised office space is perfect for a team of 3.</td>
                        <td>Img</td>
                        <td>2000TK</td>
                        <td>1500TK</td>
                        <td>Dhaka Zila, Dhaka Div, Bangladesh, Asia</td>
                        <td>Wifi,AC</td>

                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Kambah</td>
                        <td>business</td>
                        <td>Shared Office</td>
                        <td>20</td>
                        <td>The advertised office space is perfect for a team of 3.</td>
                        <td>Img</td>
                        <td>2000TK</td>
                        <td>1500TK</td>
                        <td>Dhaka Zila, Dhaka Div, Bangladesh, Asia</td>
                        <td>Wifi,AC</td>

                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Hobart</td>
                        <td>business</td>
                        <td>Shared Office</td>
                        <td>20</td>
                        <td>The advertised office space is perfect for a team of 3.</td>
                        <td>Img</td>
                        <td>2000TK</td>
                        <td>1500TK</td>
                        <td>Dhaka Zila, Dhaka Div, Bangladesh, Asia</td>
                        <td>Wifi,AC</td>

                        <td>05/4/2019</td>
                        <td>17/9/2019</td>
                        <td>
                            <a href="new-contact.html">
                                <i class="zmdi zmdi-edit"></i>
                            </a><a href="#" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                        </div>
                                        <div class="modal-body" style="align-self: center;">
                                            Are you sure you want to delete this element?
                                        </div>
                                        <div class="modal-footer" style="align-self: center;">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger btn-ok">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>