	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/05/2018 09:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: auto;
font-style: normal;
margin-left: 0px;
}

.flaticon-lemonade:before { content: "\f100"; }
.flaticon-picture:before { content: "\f101"; }
.flaticon-family:before { content: "\f102"; }
.flaticon-baby-stroller:before { content: "\f103"; }
.flaticon-golf-player:before { content: "\f104"; }
.flaticon-shop:before { content: "\f105"; }
.flaticon-honeymoon-luggage:before { content: "\f106"; }
.flaticon-gift:before { content: "\f107"; }
.flaticon-scissor-and-comb:before { content: "\f108"; }
.flaticon-cricket-player-with-bat:before { content: "\f109"; }
.flaticon-soccer-ball-variant:before { content: "\f10a"; }
.flaticon-table-tennis:before { content: "\f10b"; }
.flaticon-tick-inside-circle:before { content: "\f10c"; }
.flaticon-refresh-page-option:before { content: "\f10d"; }
.flaticon-fuel:before { content: "\f10e"; }
.flaticon-childs-playing-in-playgrpound:before { content: "\f10f"; }
.flaticon-pay:before { content: "\f110"; }
.flaticon-microwave:before { content: "\f111"; }
.flaticon-underground:before { content: "\f112"; }
.flaticon-man-cycling:before { content: "\f113"; }
.flaticon-cctv:before { content: "\f114"; }
.flaticon-fireplace:before { content: "\f115"; }
.flaticon-halal-sign:before { content: "\f116"; }
.flaticon-massage-spa-body-treatment:before { content: "\f117"; }
.flaticon-tickets:before { content: "\f118"; }
.flaticon-massage:before { content: "\f119"; }
.flaticon-karaoke:before { content: "\f11a"; }
.flaticon-stage:before { content: "\f11b"; }
.flaticon-carpet:before { content: "\f11c"; }
.flaticon-sedan-car-model:before { content: "\f11d"; }
.flaticon-school-call-phone-reception:before { content: "\f11e"; }
.flaticon-wifi-connection-signal-symbol:before { content: "\f11f"; }
.flaticon-phone-receiver:before { content: "\f120"; }
.flaticon-fruit-1:before { content: "\f121"; }
.flaticon-room-service-1:before { content: "\f122"; }
.flaticon-no-smoking-sign:before { content: "\f123"; }
.flaticon-monitor:before { content: "\f124"; }
.flaticon-swimming-silhouette:before { content: "\f125"; }
.flaticon-person-learning-by-reading:before { content: "\f126"; }
.flaticon-bed-1:before { content: "\f127"; }
.flaticon-sunbed:before { content: "\f128"; }
.flaticon-weightlifting:before { content: "\f129"; }
.flaticon-air-conditioner:before { content: "\f12a"; }
.flaticon-balcony-and-door:before { content: "\f12b"; }
.flaticon-dining-table:before { content: "\f12c"; }
.flaticon-fruit:before { content: "\f12d"; }
.flaticon-birthday-cake:before { content: "\f12e"; }
.flaticon-sign:before { content: "\f12f"; }
.flaticon-vimeo:before { content: "\f130"; }
.flaticon-arrow:before { content: "\f131"; }
.flaticon-box:before { content: "\f132"; }
.flaticon-people-2:before { content: "\f133"; }
.flaticon-social-3:before { content: "\f134"; }
.flaticon-people-1:before { content: "\f135"; }
.flaticon-social-2:before { content: "\f136"; }
.flaticon-internet:before { content: "\f137"; }
.flaticon-social-1:before { content: "\f138"; }
.flaticon-social:before { content: "\f139"; }
.flaticon-menu:before { content: "\f13a"; }
.flaticon-loupe:before { content: "\f13b"; }
.flaticon-bar-chart:before { content: "\f13c"; }
.flaticon-maps-and-flags:before { content: "\f13d"; }
.flaticon-whatsapp-logo:before { content: "\f13e"; }
.flaticon-home-1:before { content: "\f13f"; }
.flaticon-building:before { content: "\f140"; }
.flaticon-dog:before { content: "\f141"; }
.flaticon-travel-1:before { content: "\f142"; }
.flaticon-hand:before { content: "\f143"; }
.flaticon-people:before { content: "\f144"; }
.flaticon-location:before { content: "\f145"; }
.flaticon-holidays:before { content: "\f146"; }
.flaticon-drink:before { content: "\f147"; }
.flaticon-travel:before { content: "\f148"; }
.flaticon-restaurant:before { content: "\f149"; }
.flaticon-bunk-bed:before { content: "\f14a"; }
.flaticon-doorknob:before { content: "\f14b"; }
.flaticon-hotel-1:before { content: "\f14c"; }
.flaticon-television:before { content: "\f14d"; }
.flaticon-family-room:before { content: "\f14e"; }
.flaticon-hotel:before { content: "\f14f"; }
.flaticon-hotel-key:before { content: "\f150"; }
.flaticon-kids-couple:before { content: "\f151"; }
.flaticon-cradle:before { content: "\f152"; }
.flaticon-disabled:before { content: "\f153"; }
.flaticon-desk:before { content: "\f154"; }
.flaticon-elevator:before { content: "\f155"; }
.flaticon-library-lockers:before { content: "\f156"; }
.flaticon-exchange:before { content: "\f157"; }
.flaticon-washing-machine:before { content: "\f158"; }
.flaticon-concierge:before { content: "\f159"; }
.flaticon-vending-machine:before { content: "\f15a"; }
.flaticon-grill:before { content: "\f15b"; }
.flaticon-earth-pictures:before { content: "\f15c"; }
.flaticon-flowers-pot-of-yard:before { content: "\f15d"; }
.flaticon-barbell:before { content: "\f15e"; }
.flaticon-worlwide:before { content: "\f15f"; }
.flaticon-claw-bath-in-spa:before { content: "\f160"; }
.flaticon-parquet:before { content: "\f161"; }
.flaticon-no-sound-hand-drawn-symbol-of-a-speaker-outline-with-a-cross:before { content: "\f162"; }
.flaticon-smoke-detector:before { content: "\f163"; }
.flaticon-couch:before { content: "\f164"; }
.flaticon-fridge:before { content: "\f165"; }
.flaticon-fire-extinguisher:before { content: "\f166"; }
.flaticon-single-bed:before { content: "\f167"; }
.flaticon-dressing-room:before { content: "\f168"; }
.flaticon-tea:before { content: "\f169"; }
.flaticon-rack:before { content: "\f16a"; }
.flaticon-brush:before { content: "\f16b"; }
.flaticon-lounge-chair:before { content: "\f16c"; }
.flaticon-money:before { content: "\f16d"; }
.flaticon-credit-card:before { content: "\f16e"; }
.flaticon-tax:before { content: "\f16f"; }
.flaticon-sauna:before { content: "\f170"; }
.flaticon-hot-tub:before { content: "\f171"; }
.flaticon-car:before { content: "\f172"; }
.flaticon-mirror:before { content: "\f173"; }
.flaticon-mountaint-landscape:before { content: "\f174"; }
.flaticon-towel:before { content: "\f175"; }
.flaticon-toiletries:before { content: "\f176"; }
.flaticon-phone-call:before { content: "\f177"; }
.flaticon-smoking:before { content: "\f178"; }
.flaticon-flip-flops:before { content: "\f179"; }
.flaticon-shower:before { content: "\f17a"; }
.flaticon-people-sitting:before { content: "\f17b"; }
.flaticon-satellite-connection:before { content: "\f17c"; }
.flaticon-video-player:before { content: "\f17d"; }
.flaticon-beer:before { content: "\f17e"; }
.flaticon-wireless-lan-router-device:before { content: "\f17f"; }
.flaticon-iron:before { content: "\f180"; }
.flaticon-strongbox:before { content: "\f181"; }
.flaticon-hair-dryer:before { content: "\f182"; }
.flaticon-coke:before { content: "\f183"; }
.flaticon-compact-disc:before { content: "\f184"; }
.flaticon-man-in-office-desk-with-computer:before { content: "\f185"; }
.flaticon-coffee-cup:before { content: "\f186"; }
.flaticon-wardrobe:before { content: "\f187"; }
.flaticon-bathrobe:before { content: "\f188"; }
.flaticon-alarm-clock:before { content: "\f189"; }
.flaticon-coast:before { content: "\f18a"; }
.flaticon-forbidden-smoking-signal:before { content: "\f18b"; }
.flaticon-wifi:before { content: "\f18c"; }
.flaticon-computer-screen:before { content: "\f18d"; }
.flaticon-parking:before { content: "\f18e"; }
.flaticon-old-typical-phone:before { content: "\f18f"; }
.flaticon-swimmer:before { content: "\f190"; }
.flaticon-stationary-bike:before { content: "\f191"; }
.flaticon-breakfast:before { content: "\f192"; }
.flaticon-balcony:before { content: "\f193"; }
.flaticon-room-service:before { content: "\f194"; }
.flaticon-bed:before { content: "\f195"; }
.flaticon-tool:before { content: "\f196"; }
.flaticon-checked-symbol:before { content: "\f197"; }
.flaticon-power-button-off:before { content: "\f198"; }
.flaticon-shopping-cart-black-shape:before { content: "\f199"; }
.flaticon-facebook-logo:before { content: "\f19a"; }
.flaticon-instagram-symbol:before { content: "\f19b"; }
.flaticon-home:before { content: "\f19c"; }
.flaticon-envelope:before { content: "\f19d"; }
.flaticon-telephone-symbol-button:before { content: "\f19e"; }
.flaticon-comments:before { content: "\f19f"; }
.flaticon-user-shape:before { content: "\f1a0"; }
.flaticon-magnifying-glass:before { content: "\f1a1"; }
.flaticon-calendar-with-spring-binder-and-date-blocks:before { content: "\f1a2"; }
.flaticon-signs:before { content: "\f1a3"; }