
@model ShareSpace.Models.Admin.AdminVWModel
<div class="form-horizontal">
    <div class="form-group">
        <span class="control-label col-md-2">Upload Images:</span>
        <div class="col-md-10">
            <input type="file" name="files" id="files" multiple />
        </div>
    </div>
</div>
