
a:hover {
    text-decoration: none;
}

.navbar-search-input::-webkit-input-placeholder {
    color: #3AC4FA;
}

.navbar-search-input:-moz-placeholder {
    color: #3AC4FA;
}

.dropdown-menu .open > a, .dropdown-menu .open > a:focus, .dropdown-menu .open > a:hover {
    background-color: #3AC4FA;
    border-bottom: 1px solid transparent;
    color: #fff;
}

.navbar-search-input::-moz-placeholder {
    color: #3AC4FA;
}

.navbar-search-input:-ms-input-placeholder {
    color: #3AC4FA;
}

.navbar-search-open .navbar-search-icon {
    background: #3AC4FA;
}

.navbar-search-open .navbar-search-submit {
    background: #3AC4FA;
}

#page_scroller {
    background: #3AC4FA;
}

.setting-button {
    background: #3AC4FA;
}

.option-panel h2 {
    color: #3AC4FA;
}

.list-inline-listing .active {
    background: #3AC4FA!important;
}

.list-inline-listing li:hover {
    background: #3AC4FA;
}

.main-title h1 span {
    color: #3AC4FA;
}

.button-theme {
    background: #3AC4FA;
    border: 2px solid #3AC4FA;
}

    .button-theme:hover {
        background: #56c4e2;
        border: 2px solid #56c4e2;
    }

.search-contents .dropdown-menu > li > a:hover {
    color: #fff;
    background: #3AC4FA;
    border: 0;
}

.border-button-sm:hover {
    background: #3AC4FA;
    border: 2px solid #3AC4FA;
    color: #fff;
}

.hotel-box-2 .price {
    color: #56c4e2;
}

.error404-content h1 {
    color: #3AC4FA;
}

.our-facilties ul li i {
    border: solid 2px #3AC4FA;
    color: #3AC4FA;
    ;
}

.newsletter form .button-small {
    border: solid 1px #3AC4FA;
    background: #3AC4FA;
}

.fecilities li i {
    color: #3AC4FA;
}

.newsletter form .button-small:hover {
    border: solid 1px #56c4e2;
    background: #56c4e2;
}

.coming-soon-box .social-list li a:hover {
    border: solid 1px #56c4e2;
    background: #56c4e2;
}

.rooms-features ul li i {
    color: #3AC4FA;
}

.coming-soon-box form .button-small {
    border: solid 1px #3AC4FA;
    background: #3AC4FA;
}

.border-button-theme {
    border: 2px solid #3AC4FA;
    color: #3AC4FA;
}

.search-contents h2 span {
    color: #3AC4FA;
}

.border-button-theme:hover {
    background: #3AC4FA;
    color: #fff;
}

.theme-tabs .nav-tabs > li > a {
    background: #3AC4FA;
}

    .theme-tabs .nav-tabs > li.active > a,
    .theme-tabs .nav-tabs > li > a:hover {
        color: #3AC4FA !important;
    }

    .theme-tabs .nav-tabs > li > a::after {
        background: #3AC4FA;
    }

.theme-tabs .tab-nav > li > a::after {
    background: #3AC4FA none repeat scroll 0% 0%;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border-color: #3AC4FA;
    border-bottom: transparent;
}

.search-button {
    background: #3AC4FA;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #3AC4FA !important;
    border-bottom: solid 3px #3AC4FA !important;
}

    .main-header-4 .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        color: #3AC4FA !important;
        border-bottom: solid 3px #3AC4FA !important;
    }

.main-header .navbar-default .nav > li > a:hover {
    color: #3AC4FA;
    border-bottom: solid 3px #3AC4FA;
}

.main-title-2 h1 a {
    color: #3AC4FA;
}

.intro-section {
    background: #3AC4FA;
}

.search-button:hover {
    color: #fff;
    background: #56c4e2;
}

.panel-box .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: #3AC4FA !important;
    border-radius: 0;
}

.panel-box ul li a:hover {
    background: #3AC4FA;
    color: #fff;
    border-radius: 0;
}

span.round-tab {
    border: 2px solid #3AC4FA;
}

    span.round-tab i {
        color: #3AC4FA;
    }

.wizard li.active span.round-tab {
    background: #3AC4FA !important;
    border: 2px solid #3AC4FA !important;
}

.wizard li:after {
    border-bottom-color: #3AC4FA;
}

.wizard li.active:after {
    border-bottom-color: #3AC4FA !important;
}

.booking-flow .panel-box .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 2px solid #3AC4FA !important;
}

span.round-tab:hover {
    border: 2px solid #3AC4FA;
    background: #3AC4FA;
}

.course-panel-box .nav-tabs > li > a:hover {
    color: #fff;
    background: #3AC4FA;
    border: none;
}

.heading-rooms p i {
    color: #3AC4FA;
    margin-right: 5px;
}

.panel-box span a {
    color: #3AC4FA;
}

.panel-box .panel-heading .panel-title a i {
    color: #3AC4FA;
}

.heading-rooms h3 {
    color: #3AC4FA;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #3AC4FA;
}

.for-sale {
    background: #3AC4FA;
}

.advantages ul li span {
    color: #3AC4FA;
}

.footer-info .social-list li a:hover {
    background: #3AC4FA;
    border: solid 1px #3AC4FA;
    color: #fff;
}

.category-content .btn, .category-content .pricing-btn {
    background: #3AC4FA;
}

.our-staff-box .title a {
    color: #3AC4FA;
}

.search-area-box-2 h1 {
    color: #3AC4FA;
}

.testimonials .content .author-name {
    color: #3AC4FA;
}

.dropdown-menu > li > a:hover {
    color: #fff;
    background: #3AC4FA;
}

.plan.featured .price-header {
    background: #3AC4FA;
}

.listing-properties-box .detail header.title a {
    color: #3AC4FA;
}

.listing-properties-box .detail .title::after {
    background-color: #3AC4FA;
}

.pagination > li > a:hover {
    background: #3AC4FA;
    border-color: #3AC4FA;
}

.pagination > .active > a {
    background: #3AC4FA !important;
    border-color: #3AC4FA !important;
}

    .pagination > .active > a:hover {
        background: #3AC4FA !important;
        border-color: #3AC4FA !important;
    }

.blog-box .detail .post-meta span a i {
    color: #3AC4FA;
}

.our-staff-box-list .staff-content h1 a {
    color: #3AC4FA;
}

.form-content-box .footer span a {
    color: #3AC4FA;
}

.our-staff-box-big .staff-content h1 a:hover {
    color: #3AC4FA;
}

.archives ul li a:hover {
    color: #3AC4FA;
}

.category-posts ul li a:hover {
    color: #3AC4FA;
}

.tags-box ul li a:hover {
    border: 1px solid #3AC4FA;
    background: #3AC4FA;
}

.latest-tweet a {
    color: #3AC4FA;
}

.recent-news .media-heading a {
    color: #3AC4FA;
}

.comment-meta-author a {
    color: #3AC4FA;
}

.comment-meta-reply a {
    background-color: #3AC4FA;
}

.contact-details .media .media-left i {
    background: #3AC4FA;
}

.about-text ul li i {
    color: #3AC4FA;
}

.breadcrumbs li a:hover {
    color: #3AC4FA;
}

.top-header ul li a:hover {
    color: #3AC4FA;
}

.services-box-2 i {
    background: #3AC4FA;
}

.helping-center .icon {
    color: #3AC4FA;
}

.header-contact ul li i {
    color: #3AC4FA;
}

.services-box i {
    color: #3AC4FA;
}

.customers-say-box .detail ul li i {
    color: #3AC4FA;
}

.attachments a:hover {
    color: #3AC4FA;
}


.hotel-box .detail h3 a {
    color: #3AC4FA;
}

.hotel-box-list .detail h3 a {
    color: #3AC4FA;
}

.events-box .date-box {
    color: #3AC4FA;
}

.events-box h1 a {
    color: #3AC4FA;
}

.events-box .events-box-content h1 a {
    color: #3AC4FA;
}

.blog-box .date-box {
    background: #3AC4FA;
}

.events-box .events-box-content ul li i {
    color: #3AC4FA;
}

.events-box-grid .events-content ul li i {
    color: #3AC4FA;
}

.additional-details-list li a:hover {
    color: #3AC4FA;
}

table.manage-table td.action a:hover {
    color: #3AC4FA;
}

.numbered.color.filled ol > li::before {
    border: 1px solid #3AC4FA;
    background-color: #3AC4FA;
}

.numbered.color ol > li::before {
    border: 1px solid #3AC4FA;
    color: #3AC4FA;
}

.map-edu-list li i {
    color: #3AC4FA;
}

.main-header-4 .navbar-default .nav > li > a:hover {
    color: #3AC4FA !important;
}

.flatpickr-day.selected, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover {
    border-color: #3AC4FA;
    background: #3AC4FA;
    color: #fff;
}

.flatpickr-current-month {
    color: #3AC4FA;
}

.flatpickr-month {
    fill: #3AC4FA;
}

.flatpickr-next-month svg:hover, .flatpickr-prev-month svg:hover {
    fill: #3AC4FA;
}

@media (max-width: 768px) {

    .navbar-default .navbar-toggle .icon-bar {
        background: #3AC4FA;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #3AC4FA;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background: #eee;
    }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        border-bottom: solid 1px #3AC4FA!important;
    }

    .main-header .navbar-default .nav > li > a:hover {
        border-bottom: solid 1px #3AC4FA;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        color: #3AC4FA !important;
        border-bottom: solid 1px #3AC4FA !important;
    }
}
