@model ShareSpace.Models.Admin.AdminVWModel



<div class="row">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">FacilityList</h4>
            <h6 class="card-subtitle">Add Your Facility Item .</h6>
        </div>

        <div class="listview">
            <div class="col-sm-6">
            <div class="listview__item">
                <label class="custom-control custom-checkbox align-self-start">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                </label>

                @*<img src="~/Scripts/demo/img/profile-pics/1.jpg" class="listview__img" alt="">*@
                <i class="avatar-char">W</i>

                <div class="listview__content">
                    <div class="listview__heading">Wifi</div>

                </div>
            </div>
        </div>

            <div class="listview__item">
                <label class="custom-control custom-checkbox align-self-start">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                </label>

                <i class="avatar-char">CP</i>

                <div class="listview__content">
                    <div class="listview__heading">Car Parking</div>

                </div>
            </div>

            <div class="listview__item">
                <label class="custom-control custom-checkbox align-self-start">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                </label>

                <i class="avatar-char">MB</i>

                <div class="listview__content">
                    <div class="listview__heading">Meeting/Boardroom</div>

                </div>
            </div>

            <div class="listview__item">
                <label class="custom-control custom-checkbox align-self-start">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                </label>

                @*<img src="demo/img/profile-pics/2.jpg" class="listview__img" alt="">*@
                <i class="avatar-char">AC</i>

                <div class="listview__content">
                    <div class="listview__heading">Air Conditioning</div>

                </div>
            </div>

            <div class="listview__item">
                <label class="custom-control custom-checkbox align-self-start">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                </label>

                @*<img src="demo/img/profile-pics/3.jpg" class="listview__img" alt="">*@
                <i class="avatar-char">S</i>

                <div class="listview__content">
                    <div class="listview__heading">24 x 7 security</div>

                </div>
            </div>
            <div class="listview__item">
                <label class="custom-control custom-checkbox align-self-start">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                </label>

                @*<img src="demo/img/profile-pics/3.jpg" class="listview__img" alt="">*@
                <i class="avatar-char">C</i>

                <div class="listview__content">
                    <div class="listview__heading">Cafe</div>

                </div>
            </div>
            <div class="listview__item">
                <label class="custom-control custom-checkbox align-self-start">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                </label>

                @*<img src="demo/img/profile-pics/3.jpg" class="listview__img" alt="">*@
                <i class="avatar-char">E</i>

                <div class="listview__content">
                    <div class="listview__heading">24 x 7 Electricity </div>

                </div>
            </div>
            <div class="listview__item">
                <label class="custom-control custom-checkbox align-self-start">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                </label>

                @*<img src="demo/img/profile-pics/3.jpg" class="listview__img" alt="">*@
                <i class="avatar-char">L</i>

                <div class="listview__content">
                    <div class="listview__heading">Lift</div>

                </div>
            </div>

            <div class="clearfix mb-3"></div>
        </div>
        </div>
   
</div>