@{
    ViewBag.Title = "BookingConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear"></div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
                <div class="icon">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
                <!--/.icon-->
                <h1>Booking Successful!</h1>
                <p>We've sent a confirmation to your e-mail
                    <br>for verification.</p>
                <button type="button" onclick="location.href='/Home/Index'" class="redo btn">Done</button>
            </div>
            <!--/.success-->
        </div>
    </div>
</div>