
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height: 150px"></div>
<div class="main-title">
    <h1 class="text-center">
        <span style="color: #1AD69C">TERMS</span> & CONDITIONS
    </h1>
</div>

<div class="container mrg-btm-30">
    <div class="row">
        <div>
            <p>Welcome to the ShareSpace website or mobile properties, including related applications (collectively, this “Website”). This Website is provided solely to assist people in gather 
                information about coworking spaces, posting opinions of coworking related locations and products, and connecting as a remote working community, and for no other purposes. 
                The terms “we”, “us”, “our” and “ShareSpace” refer to ShareSpace LLC, a Delaware corporation and/or our subsidiaries. The term “you” refers to the customer visiting the Website, 
                and/or all content contributors on this Website.</p>
            <p>This Website is offered to you conditioned upon your acceptance without modification of any/all the terms, conditions, and notices set forth below (collectively, the “Agreement”). 
                By accessing or using this Website in any manner, you agree to be bound by the Agreement and represent that you have read and understood its terms. Please read the Agreement carefully, 
                as it contains information concerning your legal rights and limitations on these rights, as well as a section regarding applicable law and jurisdiction of disputes. If you do not accept 
                all of these terms and conditions, please do not use this Website.</p>
            <p>We may change or otherwise modify the Agreement in the future, and you understand and agree that your continued access or use of this Website after such change signifies your acceptance of 
                the updated or modified Agreement. We will note the date that revisions were last made to the Agreement at the bottom of this page, and any revisions will take effect upon posting. Be sure 
                to return to this page periodically to review the most current version of the Agreement.</p>
        </div>
    </div>
</div>

<div class="main-title">
    <h1 class="text-center">
        <span style="color: #1AD69C">USE</span> OF THE WEBSITE
    </h1>
</div>

<div class="container mrg-btm-30">
    <div class="row">
        <div>
            <p>
                As a condition of your use of this Website, you warrant that (i) all information supplied by you on this Website is true, accurate, current and complete, (ii) if you have a ShareSpace account, 
                you will safeguard your account information and will supervise and be completely responsible for any use of your account by anyone other than you and (iii) you are 13 years of age or older
                in order to register for an account and contribute to our Website. ShareSpace does not knowingly collect the information of anyone under the age of 13. We retain the right at our sole discretion 
                to deny access to anyone to this Website and the services we offer, at any time and for any reason, including, but not limited to, for violation of this Agreement.
            </p>
        </div>
    </div>
</div>

<div class="main-title">
    <h1 class="text-center">
        <span style="color: #1AD69C">PRIVACY POLICY</span> AND DISCLOSURES
    </h1>
</div>

<div class="container mrg-btm-30">
    <div class="row">
        <div>
            <p>
                ShareSpace believes in protecting your privacy. Please click here to review our current Privacy Policy, which also governs your use of ShareSpace, to understand our practices.
            </p>
            <p>In certain circumstances we may disclose information about you to third parties if we determine, in our sole discretion, such disclosure is necessary (a) to protect ShareSpace’s systems, 
                assets, employees, members and customers; (b) to ensure the integrity and operation of ShareSpace's business and systems; or (c) to comply with legitimate and enforceable governmental 
                requests, subpoenas or court orders. We may choose to comply with or disregard such requests or orders in our sole discretion. ShareSpace’s right to disclose information, including but
                not limited to user profile information (i.e. name, email address, etc.), IP addressing and traffic information, usage history, and posted Content, shall take precedence over any terms 
                of ShareSpace’s Privacy Policy.</p>
        </div>
    </div>
</div>