@{
	ViewBag.Title = "EditProfile";
	Layout = "~/Views/Shared/_ClientDashboardLayout.cshtml";
}

<div class="card new-contact">
	<div class="new-contact__header">
		<a href="#" class="fa fa-camera new-contact__upload"></a>

		<img src="/img/avatar/2.jpg" class="new-contact__img" alt="">
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>First Name</label>
					<input type="text" class="form-control" placeholder="i.e. John">
					<i class="form-group__bar"></i>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" class="form-control" placeholder="i.e. Smith">
					<i class="form-group__bar"></i>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" placeholder="i.e. smith@gmail.com">
					<i class="form-group__bar"></i>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label>Mobile</label>
					<input type="text" class="form-control" placeholder="i.e. 01X XXX XXXX">
					<i class="form-group__bar"></i>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" placeholder="">
					<i class="form-group__bar"></i>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label>Confirm Password</label>
					<input type="password" class="form-control" placeholder="">
					<i class="form-group__bar"></i>
				</div>
			</div>

		</div>

		<div class="clearfix"></div>

		<div class="mt-5 text-center">
			<a href="#" class="btn btn-light">Save</a>
			<a href="#" class="btn btn-light">Clear</a>
		</div>
	</div>
</div>