@model ShareSpace.Models.Auth.Login
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    @Styles.Render("~/fonts/fontAwesome")
    @Styles.Render("~/Content/loginCss")
</head>

<body>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/img/Registration/signin-image.jpg" alt="sing up image"></figure>
                        <a href="../Auth/SignUp" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Log In</h2>
                        @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "validate-form register-form", @id = "login-form" }))
                        {
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="validate-input" data-validate="Email is required">
                                        <label><i class="fa fa-envelope"></i></label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "validate-field", placeholder = "Email", name = "Email", id = "email" })
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="validate-input" data-validate="Password is required">
                                    <label><i class="fa fa-lock"></i></label>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "validate-field", type = "password", placeholder = "Password", name = "Password", id = "password" })
                                </div>

                            </div>
                            @*<div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>*@
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="~/Scripts/CustomJs/signUp-val.js"></script>
</body>
</html>